.Icon{
    width: 100px;
    height: auto;
    border: solid 1px black;   
}
.IconContainer{
    padding: 3px;
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
.cTodo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
}
.TotalContainer{
    padding: 10px 0px 0px 0px;
    width: 40%;
    max-width: 500px;
    min-width:500px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-self:center;
}
.cData{
    width: 40%; 
    padding: 10px 0px 0 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
}
.cLabel{
    margin: 0px 0 0px 0;
    display: block;
    justify-self: left;
}
input {
    padding: 12px 20px;
    margin: 8px 0 32px 0;
    border: 1px solid #ccc;
    display: block;   
  }

.cAction{
    width: 40%;
    padding: 2px 0px 16px 0px;
    text-align: left;
    align-self: center;
}
  .cButton{
      margin-top: 0px;
      padding: 12px 20px;
      border: 1px solid #ccc;
      border-radius: 1mm;
      background-color: transparent;
      float:inline-start;
      box-shadow: black 3px;   
  }
  .cButton:hover{
      cursor: pointer;
  }
  .cButton:active{
      position: relative;
      top: 1px;
  }
  
 